@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@font-face {
  font-family: "PP Neue Montreal Book";
  font-style: normal;
  font-weight: normal;
  src: local("PP Neue Montreal Book"),
    url("../public/pp-neue-montreal-cufonfonts-webfont/ppneuemontreal-book.woff")
      format("woff");
}

@font-face {
  font-family: "PP Neue Montreal Italic";
  font-style: normal;
  font-weight: normal;
  src: local("PP Neue Montreal Italic"),
    url("../public/pp-neue-montreal-cufonfonts-webfont/ppneuemontreal-italic.woff")
      format("woff");
}

@font-face {
  font-family: "PP Neue Montreal Thin";
  font-style: normal;
  font-weight: normal;
  src: local("PP Neue Montreal Thin"),
    url("../public/pp-neue-montreal-cufonfonts-webfont/ppneuemontreal-thin.woff")
      format("woff");
}

@font-face {
  font-family: "PP Neue Montreal Medium";
  font-style: normal;
  font-weight: normal;
  src: local("PP Neue Montreal Medium"),
    url("../public/pp-neue-montreal-cufonfonts-webfont/ppneuemontreal-medium.woff")
      format("woff");
}

@font-face {
  font-family: "PP Neue Montreal SemiBold italic";
  font-style: normal;
  font-weight: normal;
  src: local("PP Neue Montreal SemiBold italic"),
    url("../public/pp-neue-montreal-cufonfonts-webfont/ppneuemontreal-semibolditalic.woff")
      format("woff");
}

@font-face {
  font-family: "PP Neue Montreal Bold";
  font-style: normal;
  font-weight: normal;
  src: local("PP Neue Montreal Bold"),
    url("../public/pp-neue-montreal-cufonfonts-webfont/ppneuemontreal-bold.woff")
      format("woff");
}

body {
  color: #fff;
}
.home-container {
  font-family: "PP Neue Montreal Book" !important;
}
.main-btn {
  padding: 5px 5px;
  border: 2px solid rgba(244, 63, 94, 1);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
.container-discover,
.container-immobiliare {
  background: radial-gradient(
    58.26% 83.32% at 77.19% 50%,
    #3c4759 0%,
    #313a48 38.63%,
    #303136 79.53%
  );
}

.font-light {
  font-family: "PP Neue Montreal Thin" !important;
}
/* ParallaxSection.css */

.parallax-container {
  position: relative;
  overflow: hidden;
  padding: 50px;
  /* align-items: flex-start; */
  justify-content: center;
  min-height: 100vh;
}

.images-container {
  margin-top: -50px;
  position: relative;
}

.images-container img {
  width: 100%;
  height: auto;
}

.image1 {
  z-index: 2;
  transition: transform 0.5s ease-out;
}

.image2 {
  z-index: 1;
  transition: transform 0.5s ease-out;
}
.image1 {
  z-index: 1;
}

.image2 {
  z-index: 0;
  top: 0;
  left: 0;
}

input {
  border: none !important;
  font-family: "PP Neue Montreal Medium" !important;
  outline: none !important;
}

input:focus {
  border: none !important;
}
.grid-background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(
      to right,
      rgba(79, 79, 79, 0.18) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(79, 79, 79, 0.18) 1px, transparent 1px);
  background-size: 14px 24px;
}

.all-sec {
  position: relative; /* Ensure content is above the background */
  z-index: 5;
}

.reat-estate {
  font-family: "Bebas Neue", sans-serif !important;
  font-weight: 600;
  font-style: normal;
}

.container-card {
  background: url("../public/card-bg.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wizard-input::-webkit-inner-spin-button,
.wizard-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
